@use '../utils' as u;

h2,
h3,
h4 {
  margin: 0;
  font-weight: 700;
  line-height: 1.2;
  padding: 0 0 1rem;
  color: u.$titleColor;
}

p {
  margin: 0 0 1rem;
}

a {
  text-decoration: none;
  border-radius: u.$radiusMed;
  font-size: inherit;
}

.section {
  text-align: center;

  &-title {
    margin: auto;
    max-width: max-content;
    position: relative;
    font-size: 1.5em;

    @include u.breakpoint-up(medium) {
      font-size: 1.75em;
    }

    @include u.before(auto auto 0 50%, u.$primaryGradient) {
      translate: -50%;
      width: 25%;
      height: 0.1em;
      border-radius: u.$radiusXl;
    }
  }

  &-sub-tile {
    font-size: 1.25em;

    @include u.breakpoint-up(medium) {
      font-size: 1.5em;
    }
  }
}

// BUTTONS

.button {
  position: relative;
  display: inline-block;
  border-radius: u.$radiusMed;
  transition: box-shadow 150ms ease-in-out;

  &:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.35);
  }

  &-link {
    position: relative;
    display: inline-block;
    font-weight: 700;
    padding: 0.475rem 1.75rem;
    transition: background-color 150ms ease-in-out, color 150ms ease-in-out, border 150ms ease-in-out;
  }

  &-primary {
    background-color: u.$white;

    .button-link {
      padding: 0.575rem 1.75rem;
      color: u.$white;
      background: u.$primaryGradient;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
      border-radius: inherit;
      transition: opacity 150ms ease-in-out;

      &:hover {
        opacity: 0.825;
      }
    }
  }

  &-secondary {
    background: u.$primaryGradient;
    padding: 0.25rem;

    .button-link {
      color: u.$primaryDark;
      background-color: u.$white;
      border-radius: u.$radiusSm;
      transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
    }

    &:hover {
      .button-link {
        background-color: transparent;
        color: u.$white;
      }
    }
  }
}

//FLEXBOX
.flex {
  display: flex;

  &-jc-c {
    justify-content: center;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-sa {
    justify-content: space-around;
  }

  &-ai-c {
    align-items: center;
  }

  &-wrap {
    flex-wrap: wrap;
  }

  &-nowrap {
    flex-wrap: nowrap;
  }

  &-collumn {
    flex-direction: column;
  }
}

// CONTAINER PADDING
.container {
  position: relative;
  max-width: 80em; // 1040px
  min-width: 21.25rem;
  margin: 0 auto;

  &-pall {
    padding-top: 2.25rem;
    padding-right: 1.25rem;
    padding-bottom: 2.25rem;
    padding-left: 1.25rem;
  }

  &-py {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }

  &-px {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }

  &-pt {
    padding-top: 2.25rem;
  }

  &-pr {
    padding-right: 1.25rem;
  }

  &-pb {
    padding-bottom: 2.25rem;
  }

  &-pl {
    padding-left: 1.25rem;
  }

  @include u.breakpoint-up(large) {
    &-pall {
      padding-top: 4.5rem;
      padding-right: 2.5rem;
      padding-bottom: 4.5rem;
      padding-left: 2.5rem;
    }

    &-py {
      padding-top: 4.5rem;
      padding-bottom: 4.5rem;
    }

    &-px {
      padding-right: 2.5rem;
      padding-left: 2.5rem;
    }

    &-pt {
      padding-top: 4.5rem;
    }

    &-pr {
      padding-right: 2.5rem;
    }

    &-pb {
      padding-bottom: 4.5rem;
    }

    &-pl {
      padding-left: 2.5rem;
    }
  }
}
