// COLORS
$primary: #ff8705;
$primaryDark: #cd5401;
$primaryGradient: linear-gradient(45deg, #cd5401, #ff8705);
$titleColor: #272a31;
$textColor: #3e434f;
$grey: #d3d3d3;
$lightGrey: #eae8e5;
$white: #ffffff;

// BORDER-RADIUS
$radiusSm: 0.25rem;
$radiusMed: 0.5rem;
$radiusLg: 1.25rem;
