@use '../utils/' as u;

.about {
  &__link {
    color: inherit;
    text-decoration: underline;
    transition: color 100ms ease-in-out;

    &:hover {
      color: u.$primary;
      text-decoration: none;
    }
  }

  &__hero {
    background-color: u.$lightGrey;

    .container {
      gap: 1rem;
    }

    #about__title {
      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }

    p {
      margin: 0;
      padding: 1rem;
    }

    &-description {
      border: u.$grey solid 1px;
      border-radius: u.$radiusSm;
      background-color: u.$white;
    }

    &-link {
      display: block;
      font-weight: 700;
      color: u.$titleColor;
    }
  }

  &__logo {
    border-bottom: 1px solid u.$grey;

    &-text {
      margin: auto;
      padding-top: 1rem;
      max-width: 42.1875rem;

      p {
        margin: 0;

        &:last-child {
          display: none;
        }
      }

      @include u.breakpoint-up(medium) {
        p {
          &:last-child {
            display: block;
          }
        }
      }
    }

    &-image {
      margin: 3em auto 0;
      padding: 1rem;
      max-width: 35.25rem;
      border: u.$grey solid 1px;
      border-radius: u.$radiusSm;

      img {
        width: 100%;
      }
    }
  }

  &__past {
    &-description {
      margin-top: 1rem;
    }

    &-conferences {
      padding-top: 3em;
      gap: 1rem;

      @include u.breakpoint-up(medium) {
        flex-direction: row;
        justify-content: center;
      }
    }

    &-conference {
      position: relative;
      color: u.$lightGrey;
      overflow: hidden;

      img {
        width: 100%;
        scale: 1.025;
      }

      &:hover {
        .about__past-overlay {
          background-color: #00000093;
        }
      }

      @include u.breakpoint-up(medium) {
        max-width: 30rem;
      }
    }

    &-overlay {
      position: absolute;
      inset: 0;
      background-color: #ff8605c9;
      display: grid;
      place-items: center;
      transition: background-color 150ms ease-in-out;

      h3 {
        font-size: 1.5rem;
        font-weight: 900;
        color: u.$white;
      }
    }
  }
}
