@use '../utils/' as u;

.program {
  color: u.$grey;
  background-color: u.$titleColor;
  background-image: url('/images/connected.png');

  &__title {
    color: inherit;
  }

  &__grid {
    list-style: none;
    margin: 0;
    padding: 1.5em 0 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
  }

  &__card {
    padding: 1em;
    gap: 1em;
    border: solid 0.25em transparent;
    border-radius: u.$radiusMed;
    background-color: rgba(255, 255, 255, 0.055);
    backdrop-filter: blur(3px);
    transition: border 150ms ease-in-out, background-color 150ms ease-in-out, color 150ms ease-in-out;

    @include u.breakpoint-up(small) {
      flex-direction: row;
      text-align: left;
    }

    &:hover {
      border: solid 0.25em u.$white;
      background-color: rgba(255, 255, 255, 0.085);
      color: u.$white;
    }

    &-icon {
      font-size: 2.75em;
    }

    &-title {
      padding: 0;
      color: u.$primary;
    }

    &-description {
      margin: 0;
    }
  }
}
